#footer
    .bg-footer
        .container.px-0.pos-backtotop
            .footer-top.bg-white.py-3
                .icon-contact
                    a(href="#").mx-2
                        img(src="../../dist/assets/icon-1.png")
                    a(href="#").mx-2
                        img(src="../../dist/assets/icon-2.png")    
                    a(href="#").mx-2
                        img(src="../../dist/assets/icon-3.png")
                .content-contact
                    .txt-contact
                        .tilte
                            strong Email:
                        .main-txt.pl-1
                            p.m-0 contact@draken.tech
                    .txt-contact
                        .tilte
                            strong Address:
                        .main-txt.pl-1
                            p.m-0 Fritz-Heeb-Weg 1, 8050 Zürich, Switzerland
            .footer-bottom.bg-white.py-3
                .footer-bottom_content.w-100.text-center
                    span © 2019 Draken Tech, Inc. All rights reserved.
            button#btn-backtotop
                img(src="../../dist/assets/backtotop.png")