.bg-form
    #formValidator
        .title.text-center
            h2 Become a DRK validator
        .form-content
            .form-group
                label.validator-address Validator's address:
                p
            .form-group
                label.amount.d-block Amount: 
                input(type="number" value="0")    
            .form-group
                label.amount.d-block Coinbase: 
                input(type="text" value="0x0")  
            .button-submit.pt-3
                button.btn-form-submit(type="submit") SEND Tx
                button.btn-cancel(type="submit") CANCEL