.container#gas-station.table-custom
    h2 Gas Station
    .wrapper-table
        table.gas-station
            thead
                tr
                    td.w20  Key
                    td.w80  Value
            tbody
                tr
                    td  Acount
                    td
                tr  
                    td  Acount Loyalty
                    td  0
                tr  
                    td  Acount Total Fee
                    td  0.00000000 RET
                tr  
                    td  Network Total Fee
                    td  0.00000000 RET
