#header
    .bg-header
        .bg-img-header
        .menu-header.pt-3
            ul.menu-main
                li.menu-main-item.mx-3
                    a(href="#").menu-main-item-content DRK CHAIN
                        <i class="fas fa-sort-down px-2"></i>
                    ul.sub-menu
                        li.sub-menu-item
                            a(href="./form-page.html") Form
                        li.sub-menu-item
                            a(href="./gas-station-page.html") Gas station
                        li.sub-menu-item
                            a(href="./privacy-management.html") Privacy management
                        li.sub-menu-item
                            a(href="./public-network-page.html") Public network
                li.menu-main-item.mx-3
                    a(href="#").menu-main-item-content JOHN
                        <i class="fas fa-sort-down px-2"></i>
                    ul.sub-menu
                        li.sub-menu-item
                            a(href="#") Sale
                        li.sub-menu-item
                            a(href="#") Exchange
                        li.sub-menu-item
                            a(href="#") Play
                li.menu-main-item.mx-3
                    a(href="./landing-page.html").logo
                        img(src="../../dist/assets/Logo.png", alt="")
                li.menu-main-item.mx-3
                    a(href="#").menu-main-item-content.menu-icon ANNOUNCE
                        img(src="../../dist/assets/icon-announce.png")
                li.menu-main-item.mx-3
                    a(href="#").menu-main-item-content.menu-icon BUILD
                        img(src="../../dist/assets/icon-github.png")
        .menu-mobile
            a(href="./landing-page.html")
                .logo
                    img(src="../../dist/assets/Logo.png", alt="")
            button#btn-menu-mobile
                <i class="fas fa-bars"></i>
            .menu-mobile-widget
                .d-block.text-center
                    a(href="#")
                        .logo.logo-mobile
                            img(src="../../dist/assets/Logo.png", alt="")
                        button#btn-close-menu-mobile
                            <i class="fas fa-times"></i>
                .menu-content.mt-3
                    ul.menu-list-mobile
                        .nav-box
                            li.sidebar-item
                                a(href="#") DRK CHAIN
                                    <i class="fas fa-sort-down px-2"></i>
                            ul.sibar-menu-sub-1.px-2
                                .nav-box-1
                                    li.sidebar-item
                                        a(href="./form-page.html") Form
                                    li.sidebar-item
                                        a(href="./gas-station-page.html") Gas station
                                    li.sidebar-item
                                        a(href="./privacy-management.html") Privacy management
                                    li.sidebar-item
                                        a(href="./public-network-page.html") Public network
                        .nav-box
                            li.sidebar-item
                                a(href="#") JOIN
                                    <i class="fas fa-sort-down px-2"></i>
                            ul.sibar-menu-sub-1.px-2
                                .nav-box-1
                                    li.sidebar-item
                                        a(href="#") Sale
                                    li.sidebar-item
                                        a(href="#") Exchange        
                                    li.sidebar-item
                                        a(href="#") Play
                        .nav-box
                            li.sidebar-item
                                a(href="#") ANNOUNCE
                                    img(src="../../dist/assets/icon-announce.png")
                        .nav-box
                            li.sidebar-item
                                a(href="#")  BUILD
                                    img(src="../../dist/assets/icon-github.png")
                        