//- Mixin Logo
mixin logo(url, name) 
    .logo.text-center
        img(src= url)
        p.logo-name= name

.landing-page.d-flex.flex-wrap
    .introduce.col-10.offset-1
        h1.heading DRK- The vital center of the DeFi platform
        p.introduce-content DRK is a decentralized platform for the existing financial sectors of the Draken Group's digital banking system. The goal of the DRK is to gather all the information stored in a decentralized authentic ledger and transform payment processes and financial procedures. As a result, payment becomes cheaper, more convenient, and more secure with a host of automation capabilities.
            br
            br
            |It focuses on security, fast transaction efficiency and many of the latest decentralized technologies in the decentralized finance sector to create an all-in-one platform in the Draken Group system and the global financial industry.
    .platform.px-0.col-10.col-sm-10.col-md-12.offset-1.offset-md-0.row
        .platform-content.px-0.col-md-5.offset-md-1
            h1.heading Platform’s structure 
            ol.platform-content-list
                li
                    h3.list-title The core layer
                    p.list-content The core layer manages the agreements formed on the ledger and transition status. It includes the most basic smart contracts, allowing the creation of different entities and payment requirements. It also detects when the payment has been completed. It is based on immutability, system’s transparency and intelligence 
                li
                    h3.list-title The Extensions layer
                    p.list-content The Extensions layer manages the actual trading conditions and rules. Most payment requests are not straightforward; if it comes from a business, it will usually have rules for calculating taxes, payment terms, deposits or advances. All of these conditions are in the form of extensions that can be added to payment requests. 
                li
                    h3.list-title The Applications layer
                    p.list-content The topmost layer is the Applications layer, which takes place outside of the blockchain. Different companies' systems can connect to DRK to make requests or access information. Accounting, auditing, taxes, debt collection, debt transfer and payment systems can all be linked.
        .platform-img.px-0.col-md-5.offset-md-1
            img(src='../../dist/assets/DKKChain.png')
    .associate.px-0
        .container
            .wrapper-associate
                h1.heading Associated Enterprises
                .associate-logos
                    +logo('../../dist/assets/AFFINITY.png', 'AFFINITY')
                    +logo('../../dist/assets/ARCHSTONE.png', 'ARCHSTONE')
                    +logo('../../dist/assets/ASEMERA.png', 'ASEMERA')
                    +logo('../../dist/assets/ATLANTIC-PROPERTY.png', 'ATLANTIC PROPERTY')
                    +logo('../../dist/assets/CANYON.png', 'CANYON')
                    +logo('../../dist/assets/DCL.png', 'DCL')
                    +logo('../../dist/assets/DIGITAL-SOLUTIONS.png', 'DIGITAL SOLUTIONS')
                    +logo('../../dist/assets/ENERGY-FINANCIAL.png', 'ENERGY FINANCIAL')
                    +logo('../../dist/assets/FIDUCIARY.png', 'FIDUCIARY')
                    +logo('../../dist/assets/FINANCE-BROKERS.png', 'FINANCE BROKERS')
                    +logo('../../dist/assets/FINANCE-CLAIMS.png', 'FINANCE CLAIMS')
                    +logo('../../dist/assets/FIRST-FAIR.png', 'FIRST FAIR')
                    +logo('../../dist/assets/FLY-CREDIT.png', 'FLY CREDIT')
                    +logo('../../dist/assets/HELDER.png', 'HELDER')
                    +logo('../../dist/assets/HELM.png', 'HELM')
                    +logo('../../dist/assets/HLS.png', 'HLS')
                    +logo('../../dist/assets/iLOAN.png', 'iLOAN')
                    +logo('../../dist/assets/INFOTECH.png', 'INFOTECH')
                    +logo('../../dist/assets/LOWEL-FINANCE.png', 'LOWEL FINANCE.')
                    +logo('../../dist/assets/MACRO-FIN.png', 'MACRO FIN')
                    +logo('../../dist/assets/NEIGHTBORHOOD-LENDING.png', 'NEIGHTBORHOOD LENDING')
                    +logo('../../dist/assets/NET-CREDIT.png', 'NET CREDIT')
                    +logo('../../dist/assets/NORDCAP.png', 'NORDCAP')
                    +logo('../../dist/assets/NOTTINGHAM-ADVISORS.png', 'NOTTINGHAM ADVISORS')
                    +logo('../../dist/assets/ONELINE.png', 'ONELINE')
                    +logo('../../dist/assets/PHOENIX.png', 'PHOENIX')
                    +logo('../../dist/assets/PLURI-BROKERS.png', 'PLURI BROKERS')
                    +logo('../../dist/assets/PRAGMATIC-THINKING.png', 'PRAGMATIC THINKING')
                    +logo('../../dist/assets/REAL-TRACT.png', 'REALTRACT')
                    +logo('../../dist/assets/SANDESON.png', 'SANDESON')
                    +logo('../../dist/assets/SAUNDER-PROPERTIES.png', 'SAUNDER PROPERTIES')
                    +logo('../../dist/assets/SOUND-SHORE.png', 'SOUND SHORE')
                    +logo('../../dist/assets/STERLING-WEALTH.png', 'STERLING WEALTH')
                    +logo('../../dist/assets/TEJARA-OMLAT.png', 'TEJARA OMLAT')
                    +logo('../../dist/assets/TOWES-INSURANCE.png', 'TOWES INSURANCE')
                    +logo('../../dist/assets/VANTAGE.png', 'VANTAGE')
                    +logo('../../dist/assets/WHITESIDE.png', 'WHITESIDE')    
            .btn-learn-more_btn.text-center
                button.learn-more_btn.mx-auto LEARN MORE ABOUT DRK









