.container#privacy-management.table-custom
    h2 Privacy DRK Token Management
        .btn.btn-copy Copy your privacy receiving key
    table.privacy-table
        thead
            tr
                td.w20  Key
                td.w80  Value
        tbody
            tr  
                td  Your Waller Address
                td  not found
            tr  
                td  Your Public Key
                td  not found
            tr  
                td  Your Viewing Key
                td  not found
            tr  
                td  DRK Coin Balance
                td  0
            tr  
                td  ERC20 Token Balance
                td  0
            tr  
                td  Privacy Token Balance
                td  0
    .tab-wrapper
        ul.tab
            li
                a(href="#tab-drk-coin") DRK Coin to ERC20 Token
            li
                a(href="#tab-erc20-2privacy") ERC20 to Privacy Token
            li
                a(href="#tab-privacy-2erc20") Privacy Token to ERC20
            li
                a(href="#tab-privacy-transfer") Privacy Token Transfer
            li
                a(href="#tab-transfer-history") Transfer History
        .tab-content
            .tab-item#tab-drk-coin
                .item-tab-content 
                    table.tab-table
                        tbody
                            tr
                                td.w20  Your ERC20 Token Address
                                td.w80  loading
                            tr
                                td.w20  Current ERC20 Token Balance
                                td.w80  0
                            tr
                                td.w20  Amount You Want To Get
                                td.w80  
                                    input(type="text", name="" value="0").input-text
                                    .btn.btn-convert.uppercase conver drk to erc20 token
                                    .btn.btn-convert-2.uppercase conver erc20 to drk token
                    .long-text
            .tab-item#tab-erc20-2privacy 
               .item-tab-content 
                    table.tab-table
                        tbody
                            tr
                                td.w20  Your ERC20 Token Address
                                td.w80  loading
                            tr
                                td.w20  Current ERC20 Token Balance
                                td.w80  0
                            tr
                                td.w20  Amount You Want To Get
                                td.w80  
                                    input(type="text", name="" value="0").input-text
                                    .btn.btn-convert.uppercase conver drk to erc20 token
                                    .btn.btn-convert-2.uppercase conver erc20 to drk token
                    .long-text
            .tab-item#tab-privacy-2erc20 
                .item-tab-content 
                    table.tab-table
                        tbody
                            tr
                                td.w20  Your ERC20 Token Address
                                td.w80  loading
                            tr
                                td.w20  Current ERC20 Token Balance
                                td.w80  0
                            tr
                                td.w20  Amount You Want To Get
                                td.w80  
                                    input(type="text", name="" value="0").input-text
                                    .btn.btn-convert.uppercase conver drk to erc20 token
                                    .btn.btn-convert-2.uppercase conver erc20 to drk token
                    .long-text
            .tab-item#tab-privacy-transfer 
                .item-tab-content 
                    table.tab-table
                        tbody
                            tr
                                td.w20  Your ERC20 Token Address
                                td.w80  loading
                            tr
                                td.w20  Current ERC20 Token Balance
                                td.w80  0
                            tr
                                td.w20  Amount You Want To Get
                                td.w80  
                                    input(type="text", name="" value="0").input-text
                                    .btn.btn-convert.uppercase conver drk to erc20 token
                                    .btn.btn-convert-2.uppercase conver erc20 to drk token
                    .long-text
            .tab-item#tab-transfer-history 
                .item-tab-content 
                    table.tab-table
                        tbody
                            tr
                                td.w20  Your ERC20 Token Address
                                td.w80  loading
                            tr
                                td.w20  Current ERC20 Token Balance
                                td.w80  0
                            tr
                                td.w20  Amount You Want To Get
                                td.w80  
                                    input(type="text", name="" value="0").input-text
                                    .btn.btn-convert.uppercase conver drk to erc20 token
                                    .btn.btn-convert-2.uppercase conver erc20 to drk token
                    .long-text
            