.container#public-network.table-custom
    h2 DRK Public Network
    p.title-data Network Data
    table.network-data 
        thead 
            tr
                td.w20  Key Factor
                td.w80  Key Value 
        tbody
            tr
                td  Block Number
                td  663631
            tr
                td  Validator Count
                td  0
            tr
                td  Stake Required
                td  242654225658555522222
            tr
                td  Safe Range
                td  5
            tr
                td  Total Stake
                td  30000000
            tr
                td  Coin Supply
                td  255555555555555550000001
            tr
                td Network Fee
                td 0
    p.title-list Validator List
    .wrapper-table
        table.valid-list
            thead
                tr
                    th  Address
                    th  Frozen
                    th  Stake
                    th  Claimed
                    th  Reported
                    th  Penalized
                    th  Block
                    th  Report
            tbody
                tr
                    td  0x0cd..9c2
                    td  0.00
                    td  10000000.00
                    td  0.00
                    td  0
                    td  0.00
                    td  221224
                    td  
                        .btn-report Report
                            i.fas.fa-bolt
                tr
                    td  0x0cd..e67
                    td  0.00
                    td  10000000.00
                    td  0.00
                    td  0
                    td  0.00
                    td  221191
                    td  
                        .btn-report Report
                            i.fas.fa-bolt
                tr
                    td  0x0cd..9c2
                    td  0.00
                    td  10000000.00
                    td  0.00
                    td  0
                    td  0.00
                    td  221224
                    td  
                        .btn-report Report
                            i.fas.fa-bolt
    .pagination
        .btn-pag  <<
        .btn-pag.btn-pag-index 1
        .btn-pag >>
    .content-bottom    
        h1 Your DRK Validator
        p.title-detail Validator Details 
            button.btn.btn-validator.uppercase Become a drk validator
        .wrapper-table
            table.validate-detail
                thead
                    tr
                        td  Key
                        td  Value
                        td.col-right  Action
                tbody
                    tr
                        td  Account Fee
                        td  0.0000000
                        td
                    tr  
                        td  Stake Balance
                        td  0.00
                        td.col-right  
                            .btn.my-2.btn-stake STAKE
                            .btn.my-2.btn-unstake UNSTAKE
                            .btn.my-2.btn-leave  LEAVE 
                    tr
                        td  Metadata
                        td  Not set
                        td.col-right
                            .btn.btn-stake UPDATE
                    tr
                        td  Reward Balance
                        td  0.00
                        td.col-right
                            .btn.btn-stake CLAIM
                    tr
                        td  Frozen Balance
                        td  0.00
                        td.col-right
                            .btn.btn-stake CASHOUT 
                    tr
                        td  Coinbase
                        td  0x000..000
                        td
                    tr
                        td  Royalty Points
                        td  0x000..000
                        td
                    tr
                        td  Claimed Reward
                        td  0.00
                        td
                    tr
                        td  Penalized Sum
                        td  0.00
                        td
                    tr
                        td  Penalized Times
                        td  0
                        td
                    tr
                        td  Unlocked Time
                        td  0
                        td
                    tr
                        td  Sealed Blocks
                        td  0
                        td
    

    
