extends ../layouts/layout.pug
block main-content
    .layout-content
        section
            include ./../partials/header-index.pug
        main#main-content
            include ./../partials/landing-page.pug
        include ./../partials/footer.pug