extends ../layouts/layout.pug
block main-content
    .layout-content
        section
            include ./../partials/header.pug
        main#main-content
            include ./../partials/landing-page.pug
        section
            include ./../partials/footer.pug