extends ../layouts/layout.pug
block main-content
    .layout-content
        section
            include ./../partials/header.pug
        main#main-content
            include ./../partials/public-network.pug
        include ./../partials/footer.pug
