.container.table-custom{
    background-color: #fff;
    .privacy-table {
        width: 100%;
    }
    .btn-copy {
        background-color: #2e5f66;
        max-width: 250px;
    }
    h2 {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
    }
    .tab-wrapper {
        // background-color: rgb(165, 241, 13);
        margin-top: 30px;
        .tab {
            display: flex;
            overflow: hidden;
            overflow-x: auto;
            border-bottom: 1px solid #ccc;
        }
        a {
            color: #333;
        }
        li {
            // color: #333;
            padding-left: 20px;
            white-space: nowrap;
        }
        li.active a {
            border-bottom: 2px solid #2e5f66;
            color: #2e5f66;
            font-weight: bold;
        }
        .tab-table {
            width: 100%;
            tbody, tr {
                border: 0;
            }
            tbody tr:nth-child(even) {
                background-color: #fff;
            }
        }
        .input-text {
            max-width: 250px;
            border: 1px solid #333 !important;
            padding: 3px;
            margin-right: 10px;
        }
        .uppercase {
            text-transform: uppercase;
        }
    }
    .btn-convert {
        background-color: #2e5f66;
        margin-right: 10px;
    }
    .btn-convert-2 {
        background-color: rgb(219, 31, 47);
    }
    .long-text {
        width: 100%;
        min-height: 250px;
    }
    .tab-item {
        display: none;
    }
    ::-webkit-scrollbar {
        width: 6px;
        height: 5px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
}

@media (max-width:992px) {
    .container#privacy-management{
        .input-text {
            min-width: 500px;
            margin-bottom: 15px;
        }
    }
}

@media (max-width:767px) {
    .container#privacy-management{
        .input-text {
            min-width: 500px;
            margin-bottom: 15px;
        }
        h2 {
            font-size: 20px !important;
        }
        .input-text {
            min-width: 250px;
            margin-bottom: 15px;
        }
        .btn-convert {
            margin-bottom: 10px;
        }
    }
}